# Simple exercises for control structures in Python
- conditionals
- while loops
- for loops

## FOR loop

In [2]:
heights = [1.82,1.75,1.68,1.76,1.5]

#### 0. Use for loop to print values from "heights" list

In [3]:
for item in heights:
    print(item)

1.82
1.75
1.68
1.76
1.5

#### 1. Use for loop for printing only values bigger than 1.75

In [8]:
for item in heights:
    if 1.75 >= item:
        continue
    print(item)

1.82
1.76

#### 2. Use for loop for printing all values until you find value 1.68 (included)

In [9]:
for item in heights:
    if 1.68 == item:
        print(item)
        break
    print(item)

1.82
1.75
1.68

#### 3. Modify the previous loop to print all values from `"heights"` without value 1.68

In [11]:
for item in heights:
    if 1.68 == item:
        continue
    print(item)

1.82
1.75
1.76
1.5

#### 4. use for loop over to iterate over `"heights"` and print "high" for values bigger than 1.75, "medium" for values between 1.68 and 1.75 and "small" for values lower than 1.68

In [13]:
for item in heights:
    if item > 1.75:
        print('high')
    elif item < 1.68:
        print('small')
    else:
        print('medium')

high
medium
medium
high
small

## WHILE loop

#### 1. Print out numbers from 0 to 4

In [14]:
n = 5
while n > 0:
    n -= 1
    print(n)

4
3
2
1
0

#### 2. use while loop to print out only even numbers lower than 15
hint : use `"%"` modulo operator

In [16]:
n = 15
while n > 0:
    n -= 1
    if (n % 2) == 0:
        print(n)

14
12
10
8
6
4
2
0

#### 3. use while loop to print all numbers lower than 15 but skip first five values

In [17]:
n = 15
while n > 0:
    n -= 1
    if n > 10:
        continue
    print(n)

10
9
8
7
6
5
4
3
2
1
0

## Actors
We have two lists actors and roles which are defined below:

In [29]:
actors = [
    "Nathan Fillion",
    "Gina Torres",
    "Alan Tudyk",
    "Morena Baccarin",
    "Adam Baldwin",
    "Jewel Staite",
    "Sean Maher",
    "Summer Glau",
    "Ron Glass"
]

roles = [
    "Captain Malcolm Reynolds",
    "Zoe Washburn",
    "Hoban Washburn",
    "Inara Serra",
    "Jayne Cobb",
    "Kaylee Frye",
    "Dr. Simon Tam",
    "River Tam",
    "Derrial Book"
]

We would like to produce a credit reel, by matching each actor with their role in the show. We know that both lists are in the correct order, such that for any number—let's say `n`—we know that `actors[n]` and `roles[n]` match. For example, `actors[3]` gives us "Morena Baccarin," and `roles[3]` gives us "Inara Serra," so we know that Morena Baccarin played Inara Serra in the show. **We want to print out the credits for all of the actors in the list.**

Here's an example of what we want to see when the code runs:

Featuring:<br>
=============<br>
Nathan Fillion as Captain Malcolm Reynolds"<br>
....

In [30]:
print('Featuring:')
print('==============')

while True:
    if not actors:
        break
    print(f'{actors.pop(-1)} as {roles.pop(-1)}')

Featuring:
==============
Ron Glass as Derrial Book
Summer Glau as River Tam
Sean Maher as Dr. Simon Tam
Jewel Staite as Kaylee Frye
Adam Baldwin as Jayne Cobb
Morena Baccarin as Inara Serra
Alan Tudyk as Hoban Washburn
Gina Torres as Zoe Washburn
Nathan Fillion as Captain Malcolm Reynolds